body{
	margin:0;
	padding:0;
}
.poem{
	will-change: transform;
	display: inline-block;
	animation:bounce 0.3s ease-in-out infinite alternative;

}


@keyframes bounce{
	0% {
		transform:translateY(0);
	}
	100%{
		transform:translateY(-10px);
	}
}